.page-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87)
}

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.nav-container {
    width: 1180px;
    height: 60px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;   
    align-items: center;
}

.nav li {
    text-decoration: none;
    padding: 4px;
}

.apps-icon {
    height: 25px;
}

.svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-gray-500);
  }
  

.top-third-container {
    width: 1180px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 446px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    padding-top: 100px;
}

.search-bar-area {
    width: 1180px;
    height: 160px;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 548px;
    height: 46px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
}

.bottom-third-page {
    width: 1180px;
    height: 340.67px;
}

.footer {
    width: 1180px;
    height: 93.33px;
    background-color: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid #dadce0;
   
}

.location-bar {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-links {
    font-size: 14px;
    font-family: arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links a {
    color: rgba(0,0,0,.54);
}